@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Palanquin+Dark:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");
.startAPodcast {
  background-image: url("../assets/signup.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: black;
  background-attachment: fixed; 
  overflow-y: auto;
}
.home {
  background-image: url("../assets/download.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed; 
  overflow-y: auto;
}
.home .intro { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 25px;
  gap: 40px;
  border-radius: 20px;
}
.home .cover {
  width: 29rem;
  height: 29rem;
  border-radius: 20%;
}
.home .logo {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
 .logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home h4 {
  font-family: "MedievalSharp", sans-serif;
  font-weight: 600;
  font-size: 30px;
  box-shadow: 10px 10px 10px rgba(192, 57, 57, 0.5);
  border-radius: 10px;
}

.home h5 {
  font-family: "MedievalSharp", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: start;
  border-radius: 10px;
}

.home p {
  padding: 20px;
  text-align: start;
  font-weight: 400;
  font-size: 20px;
  word-spacing: 3px;
  border-radius: 10px;
}
.home span{
color: #fad0a1;
}
.home button{
  padding: 10px 30px;
  background: linear-gradient(to right, #fad0a1,  #f6f87f);
  background-color: rgb(123, 119, 185);
  color: rgb(80, 13, 13);
  border-radius: 10px;
  border: none;
}
.podcast {
  background-color: rgb(17, 17, 17);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 15px 10px rgba(120, 114, 122, 0.75);
  backdrop-filter: blur(6px);
}
.podcast h1{
  margin: .5rem;
}
.podcastCards {
  zoom: .9;
  /* height: 300px; */
  /* overflow-y: scroll; */
  /* scrollbar-width: thin; */
 
  display: flex;
}

.popular-podcast{
  margin-top: 3rem;
}
.podcastCardsContainer {
  overflow-x: auto;
}

.PodcastCard {
  flex: 0 0 auto; 
  margin-right: 10px;
}
.profile {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: black;
}
.createAPodcast {
  background-image: url("../assets/signup.png");
  background-size: cover;
  background-position: center;
  /* width: 70vw; */
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: black;
  margin: 0rem 11rem;
}


.createAPodcast {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-page{

}
.signup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img.jpg");
  background-size: cover;
  backdrop-filter: blur(5px);
  opacity: 0.8;
  background-color: black;
  width: 65vw;
  margin: 3rem;
  gap: 2rem;
  border-radius: 10px;
  box-shadow: 10px 7px 10px 6px rgba(22, 20, 20, 0.8);
  margin: auto;
  zoom: .9;
}
.signup-wrapper h1 {
  text-align: center;
}


.signup-page .heading{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
padding: 10px;
}

.signup-page .heading img{
width: 40px;
height: 40px;
border-radius: 50%;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  color: white !important;
}

.custom-btn:hover {
  background-color: var(--white);
  color: var(--purple-grey);
  transition: all 0.2s;
}



.podcastDetails .podcastDescription{
background-color: rgba(16, 39, 75, 0.938);
opacity: 0.9;
color: rgb(250, 244, 244);
display: flex;
margin: 15px;
padding: 5px 15px;
border-radius: 10px;
justify-content: space-between;
width: 100%;
}

@media only screen and (max-width: 768px) {
  .createAPodcast{
    margin: 0rem 3.5rem;
  }
.home{
  margin: 0px;
}
 
  .home .intro { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px;
    gap: 12px ;
    border-radius: 2px;
  }
  .home .cover {
    width: 20rem;
    height: 14rem;
    border-radius: 2px;
    margin-top: 0px;
    padding: 0px;
  }
  .home .logo {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
  }
   .logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .home h4 {
    font-family: "MedievalSharp", sans-serif;
    font-weight: 400;
    font-size: 18px;
    box-shadow: 10px 10px 10px rgba(192, 57, 57, 0.5);
    border-radius: 10px;
  }
  
  .home h5 {
    font-weight: 400;
    font-size: 20px;
    /* padding: 1px 55px; */
    text-align: center;
    border-radius: 10px;
  }
  
  .home p {
    padding: 1px 12px;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
  }
 
  .home button{
    margin-top: -12px;
  }
  .signup-wrapper {
  text-align: center;
    opacity: 0.8;
    background-color: black;
    width: 90vw;
    margin: 1rem;
    gap: .1rem;
    border-radius: 10px;
    box-shadow: 10px 7px 10px 6px rgba(22, 20, 20, 0.8);
    margin: auto;
  }
}

.podcasts-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.carousel-item {
  display: flex; /* or grid */
  justify-content: center;
}